@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family:'Courier New', Courier, monospace; */
  font-family: 'Roboto Mono';
  cursor: crosshair;
}

a {
  color: #000;
  cursor: cell;
}