.profile {
    width: 90%;
    padding-top: 50px;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.username {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    display: table;
    padding-bottom: 20px;
}

.stats {
    text-align: center;
    width: 100%;
    display: table;
}

.records, .wishes, .friends{
    color: #000;
    padding: 3px;
    align-items: flex-start;
}

.records:hover, .wishes:hover, .friends:hover {
    color: #FFDB58;
    text-decoration-color: #FFDB58;
}