.searchbar {
    display: flex;
    justify-content: start;
    margin-top: 14px;
    padding-left: 30px;
    margin-right: 30%;
    /* width: 20%; */
}

input {
    padding: 10px;
    font-size: 1rem;
    border:1px solid #fff;
    border-bottom-color: #000;
    pointer-events:painted;
    box-shadow: none;
    width: 230%;
}

input:focus {
    outline: none !important;
    /* box-shadow: 0 0 10px #fff; */
    
}


@media screen and (max-width: 960px) {
    .searchbar {
        display: none;
    }

    .nav-search-input  {
        display: none;
    }
}