.card {
    /* margin: 100px; */
}

.record {
    background-color: rgb(20, 20, 20);
    width: 16rem;
    height: 16rem;
    margin-left: 70px;
    border-radius: 50%;
    z-index: 0;
    transition: all 0.3s ease-in;
}

.card--cover {
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    float:left;
}

.card-content {
    color: #000;
    width: 50%;
    padding: 5px 0px 5px 0px;
}

.card:hover .record {
    margin-left: 100px;
    transition: all 0.3s ease-in;
}

.album-name {
    font-style: italic;
}

.card:hover .album-name{
    background-color: #FFDB58;
    transition: all 0.3s ease-in;
}

.card:hover .artist{
    background-color: #FFDB58;
    transition: all 0.3s ease-in;
}